<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../css/admin.css">
</head>

<body>
    <%- include('./header2')%>
        <main class="container main__estilo">
            <div class="search__estilo">
                <button id="search_icon"><iconify-icon  icon="material-symbols-light:search" width="35"></iconify-icon></button>
                <input class="search__input" type="text" placeholder="Código, nombre o categoría">
            </div>
            <div class="listado__admin">
                <table>
                    <thead>
                        <tr class="table__title">
                            <th class="title">LISTADO DE PRODUCTOS</th>
                            <th class="sub-title">AGREGAR
                                <a class="icon__estilo" href="/admin/create"><iconify-icon id="icon__estilo" icon="ph:plus-fill" width="35" style="color: #f33;"></iconify-icon></a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <table class="table__admin">
                    <thead>
                        <tr>
                            <th class="columnas__estilos">ID</th>
                            <th class="columnas__estilos">Código</th>
                            <th class="columnas__estilos">Nombre de Producto</th>
                            <th class="columnas__estilos">Categoría</th>
                            <th class="columnas__estilos"></th>
                        </tr>
                    </thead>
                    <tbody id="product_table_body">
                        <% data.forEach( product => { %>
                            <tr>
                            <td><%= product.product_id %></td>
                            <td><%= product.sku %></td>
                            <td><%= product.product_name %></td>
                            <td><%= product.licence_name %></td>
                            <td id="botones">
                            <a href="/admin/edit/<%= product.product_id %>"><iconify-icon id="icono__borrar" icon="bxs:pencil" width="20" style="color: #1d84b5;"></iconify-icon></a>
                            <form action="/admin/delete/<%= product.product_id %>?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
                                <button id="icono__borrar" onclick=""><iconify-icon id="icono__borrar" icon="bxs:trash" width="20" style="color: #f33;"></iconify-icon></button>
                            </form>
                            </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

        </main>
        <%- include('./footer')%>
<!-- <script src="../../js/admin1.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>