<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop| Funkoshop</title>
    <link rel="stylesheet" href="./css/shop.css">

<body>
    <%- include('./header1')%>
        <main class="container main__estilo">
            <form class="sec__form">
                <div class="form__shop2">
                    <div class="form__shop">
                        <legend class="form__texto">Buscar</legend>
                        <input class="input_estilo" id="buscador" type="text" name="item o categoria"
                            placeholder="item o categoria" value=""></input>
                    </div>
                    <div class="form__shop">
                        <legend class="form__texto">Ordenar por</legend>
                        <select class="input_estilo" name="Ordenar por">
                            <option value="menor a mayor">menor a mayor</option>
                            <option value=" mayor a menor"> mayor a menor</option>
                        </select>
                    </div>
                    <div class="form__shop">
                        <legend class="form__texto">Precio</legend>
                        <div class="form__shop3">
                            <span class="form_min_max">
                                <label class="form__texto2" for="precioMin">min</label>
                                <input class="input__min__max input_estilo" id="precioMin" type="number" name="minimo"
                                    placeholder="0" value=""> </input>
                            </span>
                            <span class="form_min_max">
                                <label class="form__texto2" for=" precioMax">max</label>
                                <input class="input__min__max input_estilo" id="precioMax" type="number" name="maximo"
                                    placeholder="0" value=""></input>
                            </span>
                        </div>
                    </div>
                    <div class="form__shop">
                        <legend class="form__texto">Filtrar</legend>
                        <div class="form__filtrar">
                            <div>
                                <input id="nuevos" type="checkbox" name="nuevos">
                                <label class="form__texto2" for="nuevos"> NUEVOS </label>
                            </div>
                            <div>
                                <input id="Ofertas" type="checkbox" name="ofertas">
                                <label class="form__texto2" for="ofertas"> OFERTAS </label>
                            </div>
                            <div>
                                <input id="edicion especial" type="checkbox" name="edicion especial">
                                <label class="form__texto2" for="edicion especial"> EDICIÓN ESPECIAL </label>
                            </div>
                            <div>
                                <input id="favoritos" type="checkbox" name="favoritos">
                                <label class="form__texto2" for="favoritos"> FAVORITOS </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <section>
                <section class="grid_container">
                    <% data.forEach( item => { %>
                        <div class="card_item__content">
                            <article class="card_collection">
                                <a class="card_item_tag" href="/shop/item/<%= item.product_id %>">
                                <span class="card_collection_tag">NUEVO</span>
                                <picture class="card-item__cover">
                                    <img class="card-item__img--front" src="img/<%= item.img_front %>"
                                        alt="Figura coleccionable Funko de un StormTrooper">
                                    <img class="card-item__img--back" src="img/<%= item.img_back %>"
                                        alt="Figura coleccionable Funko de un StormTrooper en caja">
                                </picture>
                                <p class="card-item__licence"><%= item.licence_name %></p>
                                <h4 class="card-item__name"><%= item.product_name %></h4>
                                <p class="card-item__price">$ <%= item.price %> .-</p>
                                <p class=" card-item__promo"><%= item.dues %> CUOTAS SIN INTERES</p>
                                </a>
                            </article>
                        </div>
                    <% }) %>
                </section>
                <section class="pagination">
                    <div class="pagination__estilo">
                        <button class="prev">&lt;</button>
                        <button class="active">1</button>
                        <button class="default">2</button>
                        <button class="span">...</button>
                        <button class="default">9</button>
                        <button class="default">10</button>
                        <button class="next">&gt;</button>
                    </div>
                </section>
            </section>
        </main>
        <%- include('./footer')%>


            <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
            <script src="./js/glide.js"> </script>
</body>


</html>